@model BloodDonation.ViewModels.UserPasswordResetVm

@{
    ViewBag.Title = "Password Reset Complete";
}

<div class="alert alert-success">
    User Password Reset Complete. Username: @Model.User.UserName , Password: @Model.NewPassword
    <br/>
    Please inform the user of this password. This password will not be visible again.
</div>