html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content-container {
  flex-grow: 1;
}

.pagination {
  margin: 1rem 0;
  justify-content: center;
}
