@using BloodDonation.Provider.Interfaces
@inject ICurrentUserProvider _currentUserProvider
@if (_currentUserProvider.IsLoggedIn())
{
    var currentUser = await _currentUserProvider.GetCurrentUser();
    <div class="btn-group dropstart">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
            @currentUser.UserName
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item" href="/Profile/ChangePassword">
                    Change Password
                </a>
            </li>
            <li>
                <a class="dropdown-item" href="/auth/logout">
                    <span class="fa fa-power-off"></span> Logout
                </a>
            </li>
        </ul>
    </div>
}
else
{
    <a class="btn btn-primary btn-sm" href="/auth/login">
        Login
    </a>
}