@using BloodDonation.Provider.Interfaces
@inject ICurrentUserProvider _currentUserProvider
@if (_currentUserProvider.IsLoggedIn())
{
    var currentUser = await _currentUserProvider.GetCurrentUser();
    <div>
        Logged in as @currentUser.UserName
        <a class="btn btn-secondary btn-sm" href="/auth/logout">
            Logout
        </a>
    </div>
}
else
{
    <a class="btn btn-primary btn-sm" href="/auth/login">
        Login
    </a>
}